img {
	height: 100px;
	width: 100px;
	position: absolute;
	right: 0;
	top: 0;
}

iframe {
	height: 288px;
	width: 512px;
	margin-left: auto;
    margin-right: auto;
	
}

figure {
	height: 600px;
	width: 600px;
	margin-left: auto;
    margin-right: auto;
	

}

table {
	color:white;
	height: 600px
	width: 600px;
	margin-left: 15px;
    
}

a {
	margin-left: 15px;

}

p.indentscrimfinder {
	margin-left: 5px;
	color: red;
}

h2.whereto {
	margin-left: auto;
	color: white;
}
